@font-face {
    font-family: "Meta";
    font-style: normal;
    font-weight: normal;
    src: url("https://www.axis-praxis.org/fonts/webfonts/MetaVariableDemo-Set.woff2") format("woff2");
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8357eb;
}

main{
    transition: all 0.5s;
    -webkit-text-stroke: 4px #d6f4f4;
    font-variation-settings: "wght" 900, "ital" 1;
    font-size: 15rem;
    text-align: center;
    color: transparent;
    font-family: "Meta", sans-serif;
    text-shadow: 10px 10px 0px #07bccc,
    15px 15px 0px #e601c0,
    20px 20px 0px #e9019a,
    25px 25px 0px #f40468,
    45px 45px 10px #48289b;
}

main:hover{
    font-variation-settings: "wght" 100, "ital" 0;
    text-shadow: none;
}